@import url('./__container/comments__container.css');

.comments {
    max-width: 1184px;
    margin: 102px auto 0;
    color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .comments {
        max-width: 90%;
        margin: 90px auto 0;
    }
}