.place__image {
    max-width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .place__image {
        max-width: 90%;
        margin: 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 599px) {
    .place__image {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .place__image {
        margin: 0;
        max-width: 100%;
    }
}