@import url('./__logo/header__logo.css');
@import url('./__langs/header__langs.css');
@import url('./__lang/header__lang.css');

.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 90%;
    }
}