@import url('../../blocks/header/__logo/header__logo.css');
@import url('../../blocks/header/__langs/header__langs.css');
@import url('../../blocks/header/__lang/header__lang.css');

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: 30px;
    left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        margin: 0 auto;
    }
}