.container__image {
    max-width: 583px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.container__image:hover {
    opacity: 0.5;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .container__image {
        width: 110%;
        height: 250px;
    }
}

@media screen and (min-width: 700px) and (max-width: 899px) {
    .container__image {
        width: 110%;
        height: 230px;
    }
}

@media screen and (max-width: 699px) {
    .container__image {
        max-width: 100%;
    }
}