.container__duration {
    position: relative;
    margin: 0;
    margin-top: 94px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    z-index: 1;
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .container__duration {
        margin-top: 40px;
    }
}

@media screen and (min-width: 701px) and (max-width: 999px) {
    .container__duration {
        margin-top: 30px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 560px) and (max-width: 700px) {
    .container__duration {
        margin-top: 110px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 460px) and (max-width: 559px) {
    .container__duration {
        margin-top: 70px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 430px) and (max-width: 459px) {
    .container__duration {
        margin-top: 40px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 351px) and (max-width: 429px) {
    .container__duration {
        margin-top: 30px;
        margin-left: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
    .container__duration {
        margin-top: 5px;
        margin-left: 16px;
    }
}