.lead__subtitle {
    max-width: 583px;
    margin: 48px auto 78px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        max-width: 60%;
    }
}

@media screen and (min-width: 710px) and (max-width: 767px) {
    .lead__subtitle {
        margin: 20px auto 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 709px) {
    .lead__subtitle {
        margin: 10px auto 32px;
        max-width: 288px;
        font-size: 16px;
        line-height: 23px;
    }
}