.container__subtitle {
    position: relative;
    max-width: 174px;
    margin: 0;
    margin-top: 18px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    white-space: nowrap;
    z-index: 1;
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .container__subtitle {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .container__subtitle {
        margin-top: 10px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 351px) and (max-width: 767px) {
    .container__subtitle {
        margin-top: 2px;
        margin-left: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
    .container__subtitle {
        margin-top: 2px;
        margin-left: 16px;
        margin-bottom: 16px;
    }
}