@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 100px auto 48px;
    color: #ffffff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin: 102px auto 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        max-width: 400px;
        flex-direction: column;
        margin: 10% auto 24px;
    }
}