@import url('./__menu-links/footer__menu-links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 160px auto 48px;
    color: #ffffff;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .footer {
        max-width: 90%;
    }
}

@media screen and (min-width: 660px) and (max-width: 899px) {
    .footer {
        max-width: 90%;
        margin: 102px auto 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 659px) {
    .footer {
        max-width: 90%;
        flex-direction: column;
        margin: 102px auto 24px;
    }
}