@import url('./__menu-links/footer__menu-links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    margin: 100px auto 48px;
    color: #ffffff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin: 102px auto 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        max-width: 288px;
        flex-direction: column;
        margin: 0;
        margin-top: 64px;
        margin-bottom: 24px;
        margin-left: 16px;
    }
}