.place__website {
    max-width: 484px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    place-self: end start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__website {
        place-self: start;
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
        margin: 0 16px;
    }
}